@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #F2F2F2;
  min-width: 1280px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}



img {
  max-width: 100%;
  object-fit: contain;
}

.main-page-header {
  position: relative;
  color: #000000;
  margin-bottom: -7px;
  z-index: 2;
}

.header-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  margin-left: 70px;
  flex-shrink: 0;
}

.main-navigation-header {
  margin-left: 30px;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin: 0;
  margin-right: 70px;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
  width: 267px;
}

.main-navigation-item .main-navigation-link {
  min-width: 44px;
  min-height: 66px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-banner-logo {
  display: block;
  margin: 0 auto;
  padding-top: 46px;
  width: 462px;
  height: auto;
}

.main-navigation-link {
  position: relative;
  font-family: "PT Sans", sans-serif;
  padding: 20px 17px;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.main-navigation-link:hover {
  color: #756257;
}

.main-navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-icon:hover {
  fill: #756257;
}

.navigation-icon:active {
  fill: rgba(117, 98, 87, 0.3);
}

.button {
  background-color: #756257;
  border-radius: 4px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.main-header-navigation-button {
  font-size: 16px;
  line-height: 20px;
  margin-left: auto;
}

.button-main-navigation-link {
  background-color: #756257;
  border-radius: 4px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 9px 15px;
  margin-top: 14px;
  outline: none;
}

.button-main-navigation-link:hover {
  background: #615048;
}

.button-main-navigation-link:focus {
  background: #615048;
  outline: 3px solid #83B3D3;
}

.button-main-navigation-link:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}




.main-navigation-link-current::before {
  position: absolute;
  content: "";
  left: 18px;
  right: 18px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
}

.main-index-banner {
  position: relative;
  background-color: #8585b7;
  color: #000000;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-bottom: 65px;
  padding-bottom: 82px;
}

.main-index-banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 57px;
  bottom: 0;
  left: 0;
  background-image: url("../images/divider.png");
}

.post-banner-text {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  width: 720px;
  margin: 0 auto 31px;
}

.post-banner-text-description {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  width: 720px;
  margin: 0 auto 78px;
}

.advantages-list {
  text-align: center;
  display: flex;
  margin: 0 0 91px;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
}

.sub-advantages-list-with-logo {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.first {
  order: -2;
}

.sub-advantages-logo-house {
  margin-bottom: 20px;

}

.sub-advantages-logo-food {
  margin-bottom: 23px;
}

.sub-advantages-logo-souvenirs {
  margin-bottom: 18px;
}

.sub-advantages-item-food {
  width: 400px;
  padding: 89px 75px 79px 75px;
}

.advantages-first-photo {
  margin: 0 auto;
}

.sub-advantages-item {
  width: 400px;
  padding-top: 89px;
  padding-bottom: 88px;
}

.advantages-item {
  width: 1200px;
  background-color: #83B3D3;
  display: flex;
}

.advantage-text-container {
  width: 400px;
  padding: 98px 91px 86px 91px;
}

.sub-advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.sub-advantages-item-food {
  background-color: #FFFFFF;
}

.sub-advantages-item-no-logo {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 0;
  padding-top: 98px;
}

.road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0px auto 30px;
}

.sub-advantages-title {
  width: 182px;
  color: #000000;
  margin-bottom: 29px;
}

.sub-advantages-title-with-logo {
  padding-top: 0;
  color: #000000;
  margin-bottom: 18px;
}

.advantages-description {
  color: #FFFFFF;
  margin: 0 auto;
}

.sub-advantages-description {
  color: #333333;
  width: 250px;
  margin: 0 auto;
}

.sub-advantages-description-house {
  width: 176px;
}

.sub-advantages-description-souvenirs {
  width: 206px;
}

.advantages-number {
  margin: 0 auto 30px;
  color: #FFFFFF;
}

.sub-advantages-number {
  margin-bottom: 30px;
}

.advantages-number::before {
  content: "—";
  margin-right: 5px;
}

.advantages-number::after {
  content: "—";
  margin-left: 5px;
}

.sub-advantages-number::before {
  content: "—";
  margin-right: 5px;
}

.sub-advantages-number::after {
  content: "—";
  margin-left: 5px;
}

.sub-advantages-with-logo {
  order: -1;
}

.description-no-logo {
  padding-bottom: 107px;
}

.main-index-appointment-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
  margin: 0 auto 29px;
}

.main-index-appointment-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  width: 720px;
  margin: 0 auto 56px;
}

.main-index-appointment-link {
  display: flex;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
  width: 575px;
  padding: 12px 30px;
  margin: 0 auto 93px;
  justify-content: center;
  align-items: center;
}

.main-index-appointment-link:hover {
  background: #615048;
}

.main-index-appointment-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-index-appointment-link:focus {
  background: #615048;
  outline: 3px solid #83B3D3;
}

.newsletter {
  background-image: url("../images/mailing-form-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #83b3d385;
}

.newsletter-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
  margin: 94px auto 29px;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 545px;
  margin: 0 auto 46px;
}

.newsletter-form {
  text-align: center;
  display: flex;
  margin-bottom: 94px;
}

.newsletter-button {
  font-family: 'PT Sans';
  background-color: #83B3D3;
  color: #FFFFFF;
  border-radius: 0px 10px 10px 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  border: none;
  width: 200px;
  padding: 10px;
  margin-right: auto;
}

.newsletter-button:hover {
  background: #68A2CA;
}

.newsletter-button:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.newsletter-button:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.newsletter-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.field {
  font: inherit;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  border-radius: 10px 0px 0px 10px;
  background-color: #F2F2F2;
  border: none;
  width: 600px;
  margin: 0;
  margin-left: auto;
  padding: 17px 22px;
}

.field:hover {
  background: #E6E6E6;
}

.field:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.field:not(:placeholder-shown):invalid {
  outline: 2px solid #FF5757;
}

.social-logo {
  fill: #83B3D3;
}

.social-logo:hover {
  fill: rgb(104, 162, 202);
}

.social-logo:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  border-radius: 3px;
}

.footer-social-button:focus {
  outline: 3px solid #83B3D3;
}

.footer-social-item {
  display: flex;
}

.footer-contact-number {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: none;
  color: #000000;
  margin: 25px auto;
  padding: 15px;
}

.footer-contact-number:hover {
  color: #756257;
}

.footer-contact-number:active {
  color: rgba(117, 98, 87, 0.3);
}

.footer-contact-number:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.html-academy-link {
  display: flex;
  width: 160px;
  height: 70px;
  margin: 0;
  margin-top: 25px;
  margin-left: 30px;
  padding: 0;
  text-decoration: none;
}

.html-academy-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.html-academy-logo {
  margin: auto;
  fill: #000000;
}

.html-academy-logo:hover {
  fill: #756257;
}

.html-academy-logo:active {
  fill: rgba(117, 98, 87, 0.3);
}

.inner-header {
  display: flex;
  width: 528px;
  margin: 0 601px 42px 66px;
  flex-direction: column;
}

.catalog-filter {
  display: flex;
  width: 361px;
  margin-left: 72px;
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  width: 150px;
}

.catalog-filter-price {
  border: none;
  margin: 0;
  padding: 0;
  width: 290px;
  margin-left: 162px;
  margin-right: 77px;
}

.catalog-filter-title {
  padding: 0;
  margin: 0;
}

.infostructure {
  margin-right: 67px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.inner-header-filter-container {
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
  background-image: url("../images/catalog-filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #5f4e46;
  background-size: cover;
}

.inner-header-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  width: 528px;
  margin: 34px 0 -10px;
  margin-left: 5px;
  padding: 0;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-index-link {
  display: flex;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 27px;
  height: 27px;
}

.breadcumbs-arrow {
  margin-right: 5px;
}

.breadcrumbs-index-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrubs-index-logo:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}

.breadcrubs-index-logo {
  fill: #FFFFFF;
  margin: auto;
}

.breadcrubs-index-logo:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrubs-index-logo:active {
  fill: rgba(255, 255, 255, 0.3);
}

.catalog-filter-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.price-title {
  margin-bottom: 35px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.button-submit {
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  border-radius: 4px;
  width: 160px;
  padding: 14px 15px;
  margin-bottom: 12px;
}

.button-submit:hover {
  background: #68A2CA;
}

.button-submit:focus {
  background: #68A2CA;
  outline: 3px solid #FFFFFF;
}

.button-submit:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.price-filter {
  width: 160px;
  margin-right: 72px;
  margin-left: auto;
  margin-top: 61px;
}

.button-reset {
  font-family: 'PT Sans';
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(131, 179, 211, 0);
  border: none;
  text-align: center;
  width: 100px;
  padding: 8px 15px;
  margin-bottom: 76px;
  margin-left: 29px;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.sorting {
  display: flex;
  padding: 42px 71px;
  padding-bottom: 46px;
  align-items: start;
}

.sorting-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  width: 339px;
  margin: 4px 192px 0 0;
}

.select-control {
  width: 287px;
  padding: 10px 0px 11px 16px;
  font-family: 'PT Sans';
  font-size: 18px;
  line-height: 23px;
  border-color: #E6E6E6;
  border-radius: 4px;
  color: #333333;
  margin-right: auto;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  -webkit-appearance: none;
  appearance: none;
}

.select-control:hover {
  outline: 2px solid #83B3D3;
}

.select-control:active {
  color: rgba(51, 51, 51, 0.3);
  outline: rgba(230, 230, 230, 0.3);
}

.select-control:focus {
  outline: 2px solid #83B3D3;
}

.sorting-viev-variants {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
}

.sorting-viev-variants a {
  line-height: 0;
  font-size: 0;
}

.button-sort {
  padding: 15px 14px;
  margin: 0;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  margin-right: 8px;
  margin-bottom: 8px;
}

.button-sort:nth-child(3n) {
  margin-right: 0;
}

.button-sort:hover {
  border-color: #83B3D3;
}

.button-sort:focus {
  border-color: #83B3D3;
  outline: none;
}

.active-sorting-button {
  border-color: #000000;
}


.product-list {
  margin: 0 0 64px;
  padding: 0;
  list-style: none;
}

.product-card-image {
  display: block;
}

.product-card-image:hover {
  opacity: 0.6;
}

.product-card-image:active {
  opacity: 0.3;
}

.product-card-image:focus {
  border: 3px solid #83B3D3;
  outline: none;
}

.products-list-container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 340px);
  width: 1056px;
  margin: 0 auto;
  margin-bottom: 32px;
  gap: 10px 18px;
}


.product-card {
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-content: flex-start;
}


.product-card-type {
  width: 133px;
  line-height: 23px;
  margin: 0 24px 16px 0;
  padding: 0;
}

.product-card-type-price {
  min-width: 141px;
  margin: 0;
  padding: 0;
}

.product-card-title-link {
  display: block;
  margin: 0 3px 16px 0;
  padding: 0;
  text-decoration: none;
}

.product-card-title {
  display: inline;
  min-width: 340px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.product-card-link {
  margin: 0 0 14px 0;
  padding: 0;
  outline: none;
}

.product-card-link:focus {
  outline: 3px solid #83B3D3;
}

.product-card-button-detail {
  align-self: flex-start;
  background-color: #756257;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  width: 133px;
  margin-bottom: 16px;
  padding: 10px 20px 8px 20px;
  outline: none;
}

.product-card-button-detail:hover {
  background: #615048;
}

.product-card-button-detail:focus {
  background: #615048;
  outline: 3px solid #83B3D3;
}

.product-card-button-detail:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button-favorite {
  background-color: #83B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  padding: 10px 20px 8px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  width: 140px;
  margin-left: 26px;
  margin-bottom: 16px;
  outline: none;
}

.product-card-button-favorite:hover {
  background: #68A2CA;
  outline: 1px solid #756257;
}

.product-card-button-favorite:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.product-card-button-favorite:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  outline: 1px solid #756257;
}

.in-favorite {
  background-color: #7DB54F;
  padding: 10px 18px 8px 18px;
}

.in-favorite:focus {
  background: #6C9E42;
  outline: 3px solid #756257;
}

.in-favorite:hover {
  outline: none;
  background: #6C9E42;
  border: none;
}

.in-favorite:active {
  outline: none;
  background: #6C9E42;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-stars-4 {
  background-image: url("../images/star.svg");
  background-repeat: space;
  width: 89px;
  height: 20px;
  align-self: center;
}

.product-card-stars-3 {
  background-image: url("../images/star.svg");
  background-repeat: space;
  width: calc(23px*3);
  height: 20px;
  align-self: center;
}

.product-card-stars-2 {
  background-image: url("../images/star.svg");
  background-repeat: space;
  width: calc(22px*2);
  height: 20px;
  align-self: center;
}

.product-card-type-price {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.product-card-rating {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 160px;
  margin-left: auto;
  padding: 8px 0;
  text-align: center;
}

.pagination-show-more-link {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 4px;
  text-decoration: none;
  width: 620px;
  height: 60px;
  margin: 19px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  position: relative;
}

.pagination-show-more-link:hover {
  background: #68A2CA;
}

.pagination-show-more-link:focus {
  background: #68A2CA;
  border: 1px solid #756257;
}

.pagination-show-more-link:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.borders-for-show-more-link {
  padding: 10px 0 30px 0;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  width: 1055px;
  margin: 0 auto 29px auto;
}


.pagination-container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  width: 1056px;
  margin: 0 auto 66px;
}

.pagination-container-2 {
  width: 370px;
  margin: 0 297px 0 0;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}


.amount-product-on-page {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  width: 175px;
  margin: 14px auto 16px 3px;
}

.select-amount-product-on-page {
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  width: 160px;
  outline: none;
  padding: 10px 16px;
  padding-right: 100px;
  font-family: 'PT Sans';
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-left: 50px;
  margin-top: 3px;
  margin-right: auto;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
  appearance: none;
}

.select-amount-product-on-page:hover {
  border-color: #83B3D3;
}

.select-amount-product-on-page:focus {
  border-color: #83B3D3;
}

.select-amount-product-on-page:active {
  border: 2px solid rgba(230, 230, 230, 0.6);
}

.newslatter-container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-catalog {
  text-align: center;
}

.newsletter-catalog-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 46px;
  width: 720px;
}

.newsletter-catalog-description {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 518px;
  margin: 0 auto 46px;
}

.newsletter-catalog-form {
  margin: 0;
  display: flex;
}

.pagination-link {
  background-color: #83B3D3;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  display: flex;
  min-width: 55px;
  min-height: 55px;
  align-items: center;
  justify-content: center;
}

.pagination-link:hover {
  background: #68A2CA;
}

.pagination-link:focus {
  background: #68A2CA;
  border: 3px solid #756257;
  outline: none;
}

.pagination-link:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-item {
  margin-right: 8px;
  margin-bottom: 8px;
}

.pagination-item:nth-child(6n) {
  margin-right: 0;
}

.main-index-appointment {
  display: flex;
  width: 1200px;
  flex-direction: column;
}

.main-inner {
  margin-bottom: 141px;
}

.footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  width: 126px;
  padding: 0px;
  margin: 38px 0 53px 62px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-telephone-number {
  display: flex;
  width: 720px;
  margin: 0 0 0 53px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  fill: #000000;
}

.breadcrumbs-item {
  display: flex;
  padding-right: 18px;
  align-self: center;
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  content: '';
  background-image: url("../images/breadcrumbs-arrow.svg");
  width: 5px;
  height: 8px;
  top: 10px;
  right: 9px;
}

.breadcrumbs-item:last-child:after {
  display: none;
}

.favourite-counter {
  position: absolute;
  top: 14px;
  right: -1px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #7DB54F;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 10px;
}

.catalog-filter-item {
  position: relative;
  display: block;
  padding-left: 40px;
  margin-bottom: 13px;
}

.control-input[type="checkbox"]+label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
}

.control-input+label:hover:before {
  background: rgba(255, 255, 255, 0.6);
}

.control-input+label:active:before {
  background: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked+label::before {
  background-image: url("../images/filter-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"]+label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 50%;
}

.control-input[type="radio"]:checked+label::before {
  background-image: url("../images/radio-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input+label:hover:before {
  background: rgba(255, 255, 255, 0.6);
}

.control-input+label:active:before {
  background: rgba(255, 255, 255, 0.3);
}


.control-input[type="radio"]+label::before {
  border-radius: 50%;
}

.control-input:focus+label::before {
  outline: 3px solid #83B3D3;
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="radio"]+label:hover:before {
  background-color: #FFFFFF;
}

.control-input[type="radio"]:checked:focus+label::before {
  outline: 3px solid #83B3D3;
  background-color: #FFFFFF;
}

.control-input:disabled+label::before {
  opacity: .4;
}



.range-scale {
  width: 287px;
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0px;
}

.toggle-max {
  top: -8px;
  right: -13px;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 28px;
}

.range-input {
  color: #FFFFFF;
  width: 100%;
  padding: 11px 15px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  background-color: transparent;
  border: none;
  appearance: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input[type="number"] {
  -moz-appearance: textfield;
}

.range-input[type="number"]:hover,
.range-input[type="number"]:focus {
  -moz-appearance: number-input;
}

.range-input-less {
  border: 2px solid #FFFFFF;
  border-radius: 4px 0 0 4px;
  margin-right: -2px;
}

.range-input-more {
  border: 2px solid #FFFFFF;
  border-radius: 0 4px 4px 0;
}

.catalog-filter-label {
  display: flex;
  width: 143px;
  position: relative;
}

.range-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px 0px 0px 4px;
}

.range-input-more:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 0px 4px 4px 0px;
}

.range-input:focus {
  box-shadow: 0px 0px 0px 3px #81B3D2;
  outline: none;
  z-index: 2;
}

.range-input:active {
  border: 2px solid #FFFFFF;
  background-color: #756257;
  box-shadow: none;
}

.range-less-bacground-text {
  position: absolute;
  content: "";
  right: 14px;
  top: 11px;
  line-height: 23px;
  opacity: 0.3;
  z-index: 2;
}

.range-more-bacground-text {
  position: absolute;
  content: "";
  right: 16px;
  top: 12px;
  line-height: 23px;
  opacity: 0.3;
  z-index: 2;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 66px;
  padding-top: 54px;
  padding-left: 70px;
  background-color: #ffffff;
}


.modal-auth {
  width: 715px;
  height: 561px;
  border-radius: 30px;
}

.field-group {
  display: flex;
  padding: 0;
  width: 575px;
  flex-direction: column;
  margin-top: 54px;
}

.modal-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 7px;
  padding: 0;
  display: inline-block;
}

.modal-close-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  margin: 0;
  padding: 0;
  margin-left: 111px;
  cursor: pointer;

}

.modal-close-button:hover {
  background: #E6E6E6;
}

.modal-close-button:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  outline: none;
  background: #E6E6E6;
  fill: rgba(0, 0, 0, 0.3);
}

.heading-modal {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  margin-right: auto;
  margin-top: 6px;
}

.input-modal-fill {
  background: #F2F2F2;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  border: none;
}

.modal-button-submit {
  width: 575px;
  margin: auto;
  border: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 10px;
  text-decoration: none;
  height: 60px;
  outline: none;
  cursor: pointer;
}

.modal-button-submit:hover {
  background-color: #68A2CA;
}

.modal-button-submit:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}

.modal-button-submit:active {
  outline: none;
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.dates {
  width: 420px;
  height: 50px;
  background-image: url("../images/modal-date-icon.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
  padding: 17px;
  cursor: pointer;
}

.dates:hover {
  background-color: #E6E6E6;
}

.dates:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.dates:active {
  outline: 2px solid #000000;
}

.dates[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.sub-text-shown {
  display: block;
}

.sub-text-date {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-left: 155px;
  margin-bottom: 16px;
  position: absolute;
  top: 52px;
  display: none;
}

.error-sub-text-modal {
  color: #FF5757;
}

.modal-button-countage {
  width: 44px;
  height: 44px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.plus-minus-icon {
  fill: rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

.plus-minus-icon:hover {
  fill: #000000;
}

.modal-button-countage:focus .plus-minus-icon {
  fill: #000000;
}

.modal-button-countage:active .plus-minus-icon {
  fill: rgba(0, 0, 0, 0.6);
}

.input-number-modal {
  width: 45px;
  height: 44px;
  padding-left: 18px;
  border-radius: 0;
}

.amount-of-people-modal {
  display: flex;
  align-items: center;
  margin-bottom: 43px;
}

.left-border-radius {
  border-radius: 4px 0 0 4px;
}

.right-border-radius {
  border-radius: 0 4px 4px 0;
}

.i-modal-button {
  padding: 0;
  margin: 0;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #83B3D3;
  border: none;
  margin-right: 18px;
  padding-top: 5px;
}

.modal-dates-container {
  margin-bottom: 41px;
  display: flex;
  position: relative;
}

.cids-label {
  margin-right: 10px;
  margin-left: 56px;
}

.adults-label {
  margin-right: 73px;
}



.i-modal-button:hover {
  background: #68A2CA;
}

.tooltip-text {
  color: #ffffff;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 19px 17px 24px 21px;
  display: block;
  width: 256px;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  top: 100%;
  margin-top: 24px;
  margin-left: -114px;
  z-index: 1;
  display: none;
}

.tooltip {
  position: absolute;
  margin-top: 10px;
  width: 16px;
  height: 16px;
}

.i-modal-button:hover+.tooltip-text,
.i-modal-button:focus+.tooltip-text {
  display: block;
}

.form-label-icon {
  position: relative;
  padding-right: 43px;
}

.tooltip-text:after {
  content: '';
  background-image: url("../images/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.modal-container-close {
  display: none;
}

.modal-header-container {
  display: flex;
}
