@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #000000;
}

h1 {
  margin: 0;
  padding: 0;
}

.main-container {
  flex-grow: 1;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.main-page-header {
  background-color: #FFFFFF;
  color: #000000;
}

.header-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  margin-left: 70px;
}

.main-navigation-header {
  margin-left: 30px;
  width: 400px;
}

.main-navigation-list {
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 310;
  margin-left: 282px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-banner-logo {
  margin: 0 auto;
  display: block;
}

.main-navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.main-header-navigation-button {
  font-size: 16px;
  line-height: 20px;
}

.button {
  background-color: #756257;
  border-radius: 4px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.main-index-banner {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages {
  margin-top: 63px;
}

.post-banner-text {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  width: 720px;
  margin: 0 auto;
}

.post-banner-text-description {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  width: 720px;
  margin: 0 auto;
}

.advantages-list {
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.sub-advantages-list-with-logo {
  display: flex;
  margin: 0;
  padding: 0;
}

.sub-advantages-item-food {
  width: 400px;
}

.sub-advantages-item-road {
  width: 400px;
}

.advantage-text-container {
  width: 400px;
  margin: auto;
}

.advantages-first-photo {
  margin: 0 auto;
}

.sub-advantages-item {
  width: 400px;
  height: 384px;
}

.advantages-item {
  width: 1200px;
  background-color: #83B3D3;
  display: flex;
}

.sub-advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.sub-advantages-item-food {
  background-color: #FFFFFF;
}

.sub-advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
}

.sub-advantages-title {
  color: #000000;
}

.advantages-description {
  color: #FFFFFF;
  width: 220px;
  margin: 0 auto;
}

.sub-advantages-description {
  color: #333333;
  width: 250px;
  margin: 0 auto;

}

.advantages-number {
  width: 250px;
  margin: 0 auto;
  color: #FFFFFF;
}

.sub-advantages-number {
  width: 250px;
  margin: 0 auto;
}

.main-index-appointment-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
  margin: 0 auto;
}

.main-index-appointment-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  width: 720px;
  margin: 0 auto;
}

.main-index-appointment-link {
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
  width: 575px;
  margin: 0 auto;
}

.newsletter {
  background-image: url("../images/mailing-form-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.newsletter-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
  margin: 0 auto;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 720px;
  margin: 0 auto;
}

.newsletter-form {
  text-align: center;
  display: flex;
}

.newsletter-button {
  background-color: #83B3D3;
  color: #FFFFFF;
  border-radius: 0px 10px 10px 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  border: none;
  width: 200px;
  padding: 0;
  margin-right: auto;
}

.newsletter-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.field {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  border-radius: 10px 0px 0px 10px;
  background-color: #F2F2F2;
  border: none;
  width: 600px;
}

.footer-contact-number {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: none;
  color: #000000;
  margin: 0 auto;
}

.inner-header {
  display: flex;
  width: 528px;
  margin: 0 601px 0 71px;
  flex-direction: column;
}

.catalog-filter {
  display: flex;
  width: 361px;
  margin-right: auto;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  width: 150px;
}

.catalog-filter-title {
  padding: 0;
  margin: 0;
}

.infostructure {
  margin-right: 67px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.inner-header-filter-container {
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
  background-image: url("../images/catalog-filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #5f4e46;
}

.inner-header-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  width: 528px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.button-submit {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  border-radius: 4px;
  width: 160px;
}

.price-filter {
  width: 160px;
  margin-right: 72px;
}

.button-reset {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(131, 179, 211, 0);
  border: none;
  text-align: center;
  width: 160px;
}

.sorting-container {
  display: flex;
  width: 1057px;
  margin: 0 auto;
}

.sorting-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  width: 339px;
  margin: 0 192px 0 0;
}

.mode-border {
  padding: 17px 16px;
  border-style: solid;
  border-color: #000000;
  border-radius: 4px;
}

.inactive {
  border-color: #E6E6E6;
}

.select-control {
  border-color: #E6E6E6;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  width: 287px;
  margin-right: auto;
}

.sorting-viev-variants {
  display: flex;
  width: 160px;
  justify-content: space-between;
}

.button-sort {
  width: 48px
}

.products-list-container {
  display: flex;
  flex-wrap: wrap;
  width: 1057px;
  margin: 0 auto;
  justify-content: space-between;
}

.product-list {
  margin: 0;
  padding: 0;
}

.product-card {
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.product-card-type {
  width: 133px;
  line-height: 23px;
  margin: 0 24px 0 0;
  padding: 0;
}

.product-card-button-detail {
  width: 133px;
}

.product-card-button-favorite {
  width: 141px;
  margin-left: 26px;
}

.product-card-type-price {
  width: 143px;
  margin: 0;
  padding: 0;
}

.product-card-title {
  margin: 0;
  padding: 0;
}

.product-card-link {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;
}

.product-card-button-detail {
  background-color: #756257;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.product-card-button-favorite {
  background-color: #83B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.in-favorite {
  background-color: #7DB54F;
}

.product-card-stars-4 {
  background-image: url("../images/star.svg");
  background-repeat: space;
  width: calc(18px*4);
  height: 20px;
  text-align: center;
}

.product-card-stars-3 {
  background-image: url("../images/star.svg");
  background-repeat: space;
  width: calc(18px*3);
  height: 20px;
}

.product-card-stars-2 {
  background-image: url("../images/star.svg");
  background-repeat: space;
  width: calc(18px*2);
  height: 20px;
}

.product-card-type-price {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.product-card-rating {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 160px;
}

.pagination-show-more-link {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 4px;
  text-decoration: none;
  width: 620px;
  margin: 0 290px;
}

.pagination-container {
  display: flex;
  flex-wrap: wrap;
  width: 1056px;
  margin: 0 auto;
}

.pagination-container-2 {
  width: 370px;
  margin: 0 297px 0 0;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.amount-product-on-page {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  width: 175px;
  margin: 0 auto 0 0;
}

.select-amount-product-on-page {
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  width: 160px;
}

.newslatter-container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-catalog {
  text-align: center;
}

.newsletter-catalog-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
  width: 720px;
}

.newsletter-catalog-description {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 720px;
  margin: 0 auto;
}

.newsletter-catalog-form {
  margin: 0;
  display: flex;
}

.pagination-link {
  background-color: #83B3D3;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  display: block;
}

.pagination-item {
  width: 55px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.main-index-appointment {
  display: flex;
  width: 1200px;
  flex-direction: column;
}

.footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  width: 107px;
  padding: 0px;
  margin: 0 0 0 72px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
}

.footer-telephone-number {
  width: 720px;
  margin: 0 0 0 61px;
}

.footer-about-text {
  width: 115px;
  margin: 0 0 0 53px;
}
